<div class="title-container">
    <app-title size="26px" fontWeight="800" text="Strawberry Cake"></app-title>
    <div class="icon">
        <div class="icon--green">
            <img src="images/green.png">
        </div>
        <div class="icon--fire">
            <img src="images/fire.png">
        </div>
    </div>
</div>
<div class="banner-container">
    <img src="/images/banner-card.jpg">
</div>
<div class="description-container">
    <app-description size="16px"
        text="Lorem imsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
        color="black"
        fontWeight="500">
    </app-description>
</div>
<div class="order-container">
    <app-price price="$13.90" previous="$18.90"></app-price>
    <app-button 
        label="ORDER NOW" 
        color="black" 
        background="white" 
        border="2px solid black" 
        borderRadius="5px" 
        width="115px" 
        height="40px" 
        fontSize="12px" 
        weight="700">
    </app-button>
</div>