<div class="cards-container">
  <app-card>
    <div class="title-container">
      <app-title size="28px" fontWeight="800" text="Minim dolorin"></app-title>
      <app-description size="17px" text="Minim dolor in amet nulla laboris enim dolore consequat." color="grey"></app-description>
    </div>
    <div class="profiles-container">
      <app-profile avatar="images/avatar-1.png" name="Wade Warren" profession="Dog Trainer"></app-profile>
      <app-profile avatar="images/avatar-2.png" name="Robert Fox" profession="President of Sales"></app-profile>
      <app-profile avatar="images/avatar-3.png" name="Jane Cooper" profession="Nursing Assistant"></app-profile>
      <app-profile avatar="images/avatar-4.png" name="Frank Esteban" profession="Software Tester"></app-profile>
      <app-profile avatar="images/avatar-4.png" name="Dianne Russell" profession="Web Designer"></app-profile>
    </div>
    <div class="botton-card">
      <div class="container-botton-card">
        <span>543 STUDENTS</span>
        <a>VIEW ALL MEMBER</a>
      </div>
    </div>
  </app-card>

  <app-card>
    <div class="profile-container">
      <app-one-profile avatar="images/avatar-6.png" name="Savannah Nguyen" profession="Web development"></app-one-profile>
    </div>
  </app-card>

  <app-card>
    <app-product></app-product>
  </app-card>
  <app-card>
    <div class="banner-container">
      <img src="/images/paint.png">
    </div>
    <div class="center-title-container">
      <app-title size="30px" lineHeight="35px" textAlign="center" fontWeight="900" text="Ui card long title for test"></app-title>
      <app-description 
        size="17px" 
        fontWeight="500" 
        text="Minim dolor in amet nulla laboris enim dolore consequat." 
        color="black" 
        textAlign="center">
      </app-description>
    </div>
    <div class="button-container">
      <app-button 
        label="ACTION NOW" 
        background="#fe1a59" 
        color="white" 
        width="310px" 
        height="50px" 
        fontSize="15px" 
        borderRadius="30px" 
        border="1px solid #fe1a59">
      </app-button>
    </div>
  </app-card>
</div>